
section {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 110px 40px 130px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 85px;
    margin-right: 85px;
}
.info {
    width: 45%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    margin-top: 50px;
    }
.about-hi {
    font-size: 1em;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
}
.about-img {
    width: 60%;
    height: 500px;
    align-items: center;
    padding-left: 140px;
}
.about-name {
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #FF6583;
}
.about-caract {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    color: #383333;
}
.button {
    font-size: 0.8em;
    font-weight: 500;
    background-color: #FF6583;
    padding: 15px 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-say {
    background-color: #FF6583;
    font-size: 1.8em;
    color:white;
    padding-inline-end: 300px;
    padding-inline-start: 300px;
}
.someone {
    font-size: 1em;
}
.fas {
    font-size: 3em;
}

